.background {
  background: #F3F5F7;
  height: 72.5vw
}
.top{
  height: 12.67vw;
  background: linear-gradient(276.79deg, #4F65E1 9.64%, #11A9FF 100.49%), #4F65E1;
}
.img{
  width:100%;
  height: auto;
}


.jobcard{
  display: flex;
  justify-content: space-between;
  margin-top:3vw;

  padding:1.95vw 2.42vw;

  background: #FFFFFF;

}
.title{
  font-family: PingFang SC;
  font-size: 1.875vw;
  font-weight: bolder;
  line-height: normal;
  margin-top: 0.78125vw;

  color: #454F69;
}
.date{
  font-family: PingFang SC;
  font-size: 1.09vw;
  line-height: normal;
  margin-top: 0.78125vw;

  color: #8D9AAF;
}
.detail{
  font-family: PingFang SC;
  font-size: 1.09vw;
  line-height: normal;
  margin-top: 0.78125vw;

  color: #454F69;

}
.btn{
  width: 7.96875vw;
  height: 2.65vw;
  background: #4F65E1;
  font-family: PingFang SC;
  font-size: 1.25vw;
  line-height: normal;
  text-align: center;

  color: #FFFFFF;
  
}

.descontent{
  margin-top: 1.5vw;
  width: 66.4vw;
  padding:1.56vw 2.42vw ;

  background: #FFFFFF;
}
.name {
  font-family: PingFang SC;
  font-size: 1.41vw;
  font-weight: bolder;
  line-height: normal;

  color: #454F69;
}
.note{
  margin-top: 1.37vw;
  font-family: PingFang SC;
  font-size: 1.09vw;
  line-height: normal;

  color: #454F69;
}
.knowcontent{
  margin-top: 1.5vw;
  width: 66.4vw;
  padding:1.56vw 2.42vw ;

  background: #FFFFFF;
}

.company{
  font-family: PingFang SC;
  font-size: 1.09vw;
  font-weight: bolder;
  line-height: normal;
  margin-left: 1.09vw;

  color: #454F69;

}
.simcontent{
  margin-top: 1.5vw;
  width: 66.4vw;
  padding:1.56vw 2.42vw ;

  background: #FFFFFF;
}


.blue-border textarea {
  border: 1px solid #0099CC;

}
.blue-border .form-control:focus {
  border: 1px solid #0099CC;
  box-shadow: 0 0 0 0.2rem rgba(186, 104, 200, .25);
}

.textarea{
  font-family: PingFang SC;
  font-size: 1.09vw;
  line-height: normal;

  color: #454F69;
}
